/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/leafbackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  text-align: center;
	
}

.center {
    width: 40%; /* -------- This makes it responsive.--------- */
	max-width: 600px;
	min-width: 300 px; /* -------- Makes sure it is not too small.--------- */
	padding: 2%;
    margin: 100px auto;
 	background: rgba(133, 162, 117, 0.7); /*this uses opacity of 75% for the background color*/
	text-align: center;
	box-shadow: #000000;
	/*border: 4px dashed white; */
}

   
#logo {
    width: 20%; /* -------- This makes it responsive.--------- */
	min-width: 300px; /* Makes sure the logo doesn't get too small. */
	margin-top: 70px;
	margin-bottom: 16px;
	/* border: 3px dashed red; */
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */

	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
	  
	  
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
		font-family: "Slackside One", cursive;
		font-weight: 400;
		font-style: normal;
	 
		/* Adds shadow to quote for readability. */
		text-shadow: 0 0 3px #000000, 0 0 5px #000000; 
		

	font-size: 2.5em;
    line-height: 1.4;
    color: #ffffff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
	  
	margin-top: 20 px; 
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;

}

nav {
	/* <uniquifier>: Use a unique and descriptive class name */
	/* <weight>: Use a value from 100 to 900 */
	
	
	font-family: "DM Serif Display", serif;
	font-weight: 400;
	font-style: normal;
	
	  
		font-size: 1.2 em;
		width: 80%; /* -------- This makes it responsive.--------- */
		margin: 0 auto;
		/* border: dashed turquoise;
		border-width: 3 px 0; */
		text-align: center;
		margin-top: 2em;
		letter-spacing: 0.2em; /* -------- This spaces the letters slightly.--------- */
}    

nav li{
	display: inline;
}

nav a{
	display: inline-block;
	padding: 10px;
}

a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	/* This color was changed to green and white. */
	color: white;
	background: rgb(2, 83, 17);
}

